@import url("https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Orbitron:wght@400..900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Delius Swash Caps", cursive;
}

body,
main {
    background: #9ff7e4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    font-size: 24px;
    text-align: center;
}

#hud {
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

canvas,
#defaultCanvas0 {
    width: 100% !important;
    max-width: 630px !important;
    height: auto !important;
    max-height: 1120px !important;
    display: block;
    aspect-ratio: 9 / 16;
    box-sizing: border-box;
    touch-action: none; /* Important for iOS */
}

#gameContainer {
    pointer-events: none;
}

#modal.hidden + #gameContainer {
    pointer-events: auto;
}

#modal {
    background: #9ff7e4;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hidden {
    display: none;
}

#achievementContainer {
    position: absolute;
    bottom: 32px;
    left: 32px;
    right: 32px;
    z-index: 10;
}

.achievement-message {
    background: #fff;
    color: #111;
    padding: 16px;
    margin: 5px auto;
    border-radius: 12px;
    animation: fadeInOut 2s ease-in-out forwards;
}

.button {
    text-align: center;
    text-decoration: none;
    display: block;
    background-color: #414bde;
    margin: 0 auto;
    color: #9ff7e4;
    padding: 24px 32px;
    border-radius: 24px;
    max-width: 600px;
}

#onboarding .mesage {
    margin-top: 120px;
    padding: 80px 32px;
    text-align: center;
    max-width: 600px;
}
