@import url("https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Orbitron:wght@400..900&display=swap");

body,
main {
    background: #111;
    color: white;
    font-family: "Delius Swash Caps", cursive;
    text-align: center;
    margin: 0;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

h2 {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

#hud {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

#score,
#record {
    width: 33%;
}

canvas,
#defaultCanvas0 {
    margin-top: 60px;
    width: 100% !important;
    max-width: 630px !important;
    height: auto !important;
    max-height: 1120px !important;
    display: block;
    aspect-ratio: 9 / 16;
    box-sizing: border-box;
    touch-action: none; /* Important for iOS */
}
